---

---

<footer class="bg-black">
	<div
		class="flex flex-col md:flex-row justify-between items-center max-w-7xl mx-auto border-t border-accent-blue/10 w-full py-20 px-8"
	>
		<div
			class="font-body text-[10px] uppercase tracking-[0.2em] text-zinc-400 mb-8 md:mb-0"
		>
			© 2024 Architectural Silence.
			<span class="text-accent-blue">Built with precision.</span>
		</div>
		<div class="flex space-x-12">
			<a
				class="font-body text-[10px] uppercase tracking-[0.2em] text-zinc-600 hover:text-accent-blue transition-colors duration-500"
				href="#about">Github</a
			>
			<a
				class="font-body text-[10px] uppercase tracking-[0.2em] text-zinc-600 hover:text-accent-blue transition-colors duration-500"
				href="#about">LinkedIn</a
			>
			<a
				class="font-body text-[10px] uppercase tracking-[0.2em] text-zinc-600 hover:text-accent-blue transition-colors duration-500"
				href="#contact">Email</a
			>
		</div>
	</div>
</footer>
